/*Importações*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body{
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14pt;
    background-color:#A8BBBF;
}

.foto{
    width: 200px;
    height: 200px;
    border:2px solid #fff;
    border-radius: 50%;
    background-image: url('../image/eu.jpeg');
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-position: 0px 0px;
    

}
section{
    background-color: #3C6973;
    padding-top:20px;
    padding-bottom: 20px;
}
.cont-top{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.texto-alternativo{
    font-family: 'Ubuntu', sans-serif;
    font-size:10pt;
    color:#fff

}
.about{
    color:#fff;
    margin-left: 20px;
    margin-right: 20px;
   
}
.icon{
    width: 15px;
    height: 15px;
}

/*Hall de skills*/
.navSikill li{
    display: inline-block;
    padding:10px;
    width: 80px;
    transition: width 1s, height 2s;
}
.navSikill :hover{
    background-color: rgba(255,255,255,0.5);
}
.navSikill li:hover{
    color:#093A40;
    cursor: pointer;
    width: 90px;
    height: 30px;
}

ul li a:hover{
    color:#093A40;
    cursor: pointer;
    width: 90px;
    height: 30px;
}

/*Menu do footer*/

footer ul li a{
    text-decoration:none;
    color:#000;
}
.indice{
    display: flex;
    margin-left: 20px;
}
.pt1, .pt2 , .socialMedia{
    flex:1
    
}
.pt2{
    border-left:1px solid #ccc;
    padding-left: 20px;
}
.socialMedia{
    border-left:1px solid #ccc;
    padding-left: 20px;
}

/*Projetos*/
.contProject{
    display: flex;
}
.jobs{
    flex:1;
    height: 200px;
    text-align: center;
    margin-right: 10px;
    transition: width 1s, height 2s;
    border:1px solid red;
}

#jobs1{
 background-image: url(../image/jobs2.jpg);
 background-size: cover;
}
#jobs2{
    background-image: url(../image/jobs3.jpg);
    background-size: cover;
}
#jobs3{
    background-image: url(../image/jobs1.png);
    background-size: cover;
}
#jobs4{
    background-image: url(../image/jobs4.jpg);
    background-size: cover;
}

.jobs:hover{
    /*width: 250px;*/
    height: 230px;
    cursor: pointer;
}
.title{
    background-color:rgba(0,0,0,0.5);
    padding:10px;
}
.aboutMe li{
    width: 100px;
}
.aboutMe li a:hover{
    color: #3C6973;

}
/*Ajuste a ser revisado*/
.sobre{
    width: 100px;
}
.sobre:hover{
    width: 150px;
    color: #3C6973;
    
}
/*Media screen*/

@media only screen and (max-width:300px){
    .contProject{
        flex-direction: column;
        height: 600px;
    }
    .jobs{
        margin-bottom: 10px;
    }
    .indice{
        flex-direction: column;
    }
    .pt1, .pt2, .socialMedia{
        border-top:1px solid #c9c9c9;
        border-left:none
    }
}
